name: pipeline

on:
  - push
  - pull_request

jobs:

  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - windows-2019
          - macos-10.15
    steps:

      - name: checkout
        uses: actions/checkout@v2

      - name: build
        shell: bash
        run: |
          printenv | sort

      - name: safaridriver
        if: matrix.os == 'macos-10.15'
        run: |
          HOMEBREW_NO_AUTO_UPDATE=1 brew install https://raw.githubusercontent.com/Homebrew/homebrew-cask-versions/a64ab24887b0490d67add0fbdf95b58b72fc79a6/Casks/safari-technology-preview.rb

          mkdir -p ~/Library/WebDriver/
          cp com.apple.SafariTechnologyPreview.plist ~/Library/WebDriver

      - name: setup-node-15
        if: matrix.os == 'macos-10.15'
        uses: actions/setup-node@v2
        with:
          node-version: 15.6.0

      - name: test
        if: matrix.os == 'macos-10.15'
        run: |
          npm install selenium-webdriver
          node ./test.js

      - name: upload-artifact
        if: matrix.os == 'macos-10.15'
        uses: actions/upload-artifact@v2
        with:
          name: screenshot
          path: screenshot.png
