name: pipeline

on:
  - push
  - pull_request

jobs:

  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - windows-2019
          - macos-10.15
    steps:

      - name: checkout
        uses: actions/checkout@v2

      - name: build
        shell: bash
        run: |
          printenv | sort

      - name: safaridriver
        if: matrix.os == 'macos-10.15'
        run: |
          which safaridriver
          safaridriver --help || true
          sudo safaridriver --enable

      - name: setup-node-15
        if: matrix.os == 'macos-10.15'
        uses: actions/setup-node@v2
        with:
          node-version: 15.6.0

      - name: test
        if: matrix.os == 'macos-10.15'
        run: |
          npm install selenium-webdriver
          node ./test.js

      - name: upload-artifact
        if: matrix.os == 'macos-10.15'
        uses: actions/upload-artifact@v2
        with:
          name: screenshot
          path: screenshot.png
